/* a minimalist set of CSS resets */

/* default to border-box */
html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  /* adjust typography defaults */
  body {
    margin:0;
    padding: 0;
    font-family: sans-serif;
    line-height: 1.5;
  }
  
  /* images and videos max out at full width */
  img,
  video {
    height: auto;
    max-width: 100%;
  }
  
  model-viewer {
    padding: 0;
    position: fixed;
    width: 100vw;
    height: 100svh;
    background-image: url(./assets/textura.png);
    background-position: center;
    background-size: cover;
  }
  
  .muchacho {
    background-image: url(https://cdn.glitch.global/264a1a6b-4e67-4e9d-ae41-0762c2dd9526/graffitti.jpg?v=1743987328641);
  }
  
  #ar-button {
    z-index: 2;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    margin: 0 auto;
    
    
    background-color: #FFF;
    padding: 1em 2em;
    border-radius: 2em;
    border: solid 1px #444;
  }
  